In [1]:
from arcgis.gis import GIS
gis = GIS("home")
import os

In [2]:
from arcgis.features import GeoAccessor
from arcgis.geometry import Geometry

from arcgis.features import FeatureLayer
from pathlib import Path

import arcpy
import pandas as pd
import numpy as np

#### Connect to the Census Bureau's API and retrieve the ACS 5-year dataset for 2021

In [3]:
import cenpy

c = cenpy.remote.APIConnection('ACSDT5Y2021')

C:\Users\eli12899\AppData\Roaming\Python\Python39\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
api_database = 'ACSDT5Y2021'
cenpy.explorer.explain(api_database)

{'American Community Survey: 5-Year Estimates: Detailed Tables 5-Year': 'The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. Summary files include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places, and all tracts and block groups. Summary files contain the most detailed cross-tabulations, many of which are published down to block groups. The data are population and housing counts. There are over 64,000 variables in this dataset.'}

## Economic distress index

#Economic distress index using 2017-2021 American Community Survey (ACS) 5-year county level estimates. The index will include the following variables:

Percent households with $30,000 or less income

Percent population with less than a High School degree for population 25 Years and Over

Percent population living below poverty in the past 12 months

Percent unemployed for the population 16 Years and Over

Percent households with cash public assistance or Food Stamps/SNAP

Percent households with Supplemental Security Income (SSI)

In [5]:
data_raw = ['B19001_001', # full households
            'B19001_002' , # less than 10k
            'B19001_003' , # between 10-14k
            'B19001_004' , # between 15-19k
            'B19001_005' , # between 20-24k
            'B19001_006' , # between 25-29k
    
            'B19001B_001', # african american total households
                'B19001B_002' , # less than 10k
                'B19001B_003' , # between 10-14k
                'B19001B_004' , # between 15-19k
                'B19001B_005' , # between 20-24k
                'B19001B_006' , # between 25-29k
                
            'B19001C_001' , # american indian and alaska native total households
                    'B19001C_002' , # less than 10k
                    'B19001C_003' , # between 10-14k
                    'B19001C_004' , # between 15-19k
                    'B19001C_005' , # between 20-24k
                    'B19001C_006' , # between 25-29k

            'B19001D_001' , # asian total households
                    'B19001D_002' , # less than 10k
                    'B19001D_003' , # between 10-14k
                    'B19001D_004' , # between 15-19k
                    'B19001D_005' , # between 20-24k
                    'B19001D_006' , # between 25-29k
                
            'B19001E_001' , # native hawaiian or pacific islander total households
                    'B19001E_002' , # less than 10k
                    'B19001E_003' , # between 10-14k
                    'B19001E_004' , # between 15-19k
                    'B19001E_005' , # between 20-24k
                    'B19001E_006' , # between 25-29k
                
            'B19001H_001' , # nonhispanic white total households
                    'B19001H_002' , # less than 10k
                    'B19001H_003' , # between 10-14k
                    'B19001H_004' , # between 15-19k
                    'B19001H_005' , # between 20-24k
                    'B19001H_006' , # between 25-29k
            
            'B19001I_001' , # hispanic or latino total households
                    'B19001I_002' , # less than 10k
                    'B19001I_003' , # between 10-14k
                    'B19001I_004' , # between 15-19k
                    'B19001I_005' , # between 20-24k
                    'B19001I_006' , # between 25-29k
            
            'B15003_001' , #education attainment, total, for pop 25 years and over
                    'B15003_025', # Doctorate degree
                    'B15003_024', # Professional school degree
                    'B15003_023', # Master's degree
                    'B15003_022', # Bachelor's degree
                    'B15003_021', # Associate's degree
                    'B15003_020', # some college- 1 or more year..
                    'B15003_019', # some college- less than 1 year
                    'B15003_018', # GED or alternative credential
                    'B15003_017', # high school diploma
            
            'B17001_001', # POVERTY STATUS IN THE PAST 12 MONTHS
                    'B17001_002', # Income in the past 12 months below poverty level
            
            'B23025_002', # In Labor Force- FOR THE POPULATION 16 YEARS and over
                    'B23025_005', # Unemployed
            
            'B19058_002', # With cash public assistance or Food Stamps/SNAP
                    'B19058_001', #Total estimate
            
            'B19056_002', # With Supplemental Security Income (SSI)
                    'B19056_001', #Total estimate       
           ]

In [6]:
data_raw

['B19001_001', 'B19001_002', 'B19001_003', 'B19001_004', 'B19001_005', 'B19001_006', 'B19001B_001', 'B19001B_002', 'B19001B_003', 'B19001B_004', 'B19001B_005', 'B19001B_006', 'B19001C_001', 'B19001C_002', 'B19001C_003', 'B19001C_004', 'B19001C_005', 'B19001C_006', 'B19001D_001', 'B19001D_002', 'B19001D_003', 'B19001D_004', 'B19001D_005', 'B19001D_006', 'B19001E_001', 'B19001E_002', 'B19001E_003', 'B19001E_004', 'B19001E_005', 'B19001E_006', 'B19001H_001', 'B19001H_002', 'B19001H_003', 'B19001H_004', 'B19001H_005', 'B19001H_006', 'B19001I_001', 'B19001I_002', 'B19001I_003', 'B19001I_004', 'B19001I_005', 'B19001I_006', 'B15003_001', 'B15003_025', 'B15003_024', 'B15003_023', 'B15003_022', 'B15003_021', 'B15003_020', 'B15003_019', 'B15003_018', 'B15003_017', 'B17001_001', 'B17001_002', 'B23025_002', 'B23025_005', 'B19058_002', 'B19058_001', 'B19056_002', 'B19056_001']

In [7]:
# Estimates end in an "E" 
data_E = [i+'E' for i in data_raw]
data_E

['B19001_001E', 'B19001_002E', 'B19001_003E', 'B19001_004E', 'B19001_005E', 'B19001_006E', 'B19001B_001E', 'B19001B_002E', 'B19001B_003E', 'B19001B_004E', 'B19001B_005E', 'B19001B_006E', 'B19001C_001E', 'B19001C_002E', 'B19001C_003E', 'B19001C_004E', 'B19001C_005E', 'B19001C_006E', 'B19001D_001E', 'B19001D_002E', 'B19001D_003E', 'B19001D_004E', 'B19001D_005E', 'B19001D_006E', 'B19001E_001E', 'B19001E_002E', 'B19001E_003E', 'B19001E_004E', 'B19001E_005E', 'B19001E_006E', 'B19001H_001E', 'B19001H_002E', 'B19001H_003E', 'B19001H_004E', 'B19001H_005E', 'B19001H_006E', 'B19001I_001E', 'B19001I_002E', 'B19001I_003E', 'B19001I_004E', 'B19001I_005E', 'B19001I_006E', 'B15003_001E', 'B15003_025E', 'B15003_024E', 'B15003_023E', 'B15003_022E', 'B15003_021E', 'B15003_020E', 'B15003_019E', 'B15003_018E', 'B15003_017E', 'B17001_001E', 'B17001_002E', 'B23025_002E', 'B23025_005E', 'B19058_002E', 'B19058_001E', 'B19056_002E', 'B19056_001E']

In [8]:
data= c.query(['NAME' , 'GEO_ID', 'B19001_001E', 'B19001_002E', 'B19001_003E', 'B19001_004E', 'B19001_005E', 'B19001_006E', 'B19001B_001E', 'B19001B_002E', 'B19001B_003E', 'B19001B_004E', 'B19001B_005E', 'B19001B_006E', 'B19001C_001E', 'B19001C_002E', 'B19001C_003E', 'B19001C_004E', 'B19001C_005E', 'B19001C_006E', 'B19001D_001E', 'B19001D_002E', 'B19001D_003E', 'B19001D_004E', 'B19001D_005E', 'B19001D_006E', 'B19001E_001E', 'B19001E_002E', 'B19001E_003E', 'B19001E_004E', 'B19001E_005E', 'B19001E_006E', 'B19001H_001E', 'B19001H_002E', 'B19001H_003E', 'B19001H_004E', 'B19001H_005E', 'B19001H_006E', 'B19001I_001E', 'B19001I_002E', 'B19001I_003E', 'B19001I_004E', 'B19001I_005E', 'B19001I_006E', 'B15003_001E', 'B15003_025E', 'B15003_024E', 'B15003_023E', 'B15003_022E', 'B15003_021E', 'B15003_020E', 'B15003_019E', 'B15003_018E', 'B15003_017E', 'B17001_001E', 'B17001_002E', 'B23025_002E', 'B23025_005E', 'B19058_002E', 'B19058_001E', 'B19056_002E', 'B19056_001E' , ], geo_unit='county', geo_filter={'state': '*'})

data.head(5)

                      NAME          GEO_ID  ... B19056_002E B19056_001E
0  Autauga County, Alabama  0500000US01001  ...        1325       21856
1  Baldwin County, Alabama  0500000US01003  ...        4007       87190
2  Barbour County, Alabama  0500000US01005  ...         963        9088
3     Bibb County, Alabama  0500000US01007  ...         480        7083
4   Blount County, Alabama  0500000US01009  ...        1862       21300

[5 rows x 64 columns]

In [9]:
data[data_E] = data[data_E].astype('int') # convert downloaded data to integers

In [10]:
data = pd.DataFrame(data)
data.head()

                      NAME          GEO_ID  ...  B19056_002E  B19056_001E
0  Autauga County, Alabama  0500000US01001  ...         1325        21856
1  Baldwin County, Alabama  0500000US01003  ...         4007        87190
2  Barbour County, Alabama  0500000US01005  ...          963         9088
3     Bibb County, Alabama  0500000US01007  ...          480         7083
4   Blount County, Alabama  0500000US01009  ...         1862        21300

[5 rows x 64 columns]

In [11]:
print(pd.DataFrame(data.dtypes))

                  0
NAME         object
GEO_ID       object
B19001_001E   int32
B19001_002E   int32
B19001_003E   int32
...             ...
B23025_005E   int32
B19058_002E   int32
B19058_001E   int32
B19056_002E   int32
B19056_001E   int32

[64 rows x 1 columns]

In [12]:
data.shape

(3221, 64)

In [13]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3221 entries, 0 to 3220
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          3221 non-null   object
 1   GEO_ID        3221 non-null   object
 2   B19001_001E   3221 non-null   int32
 3   B19001_002E   3221 non-null   int32
 4   B19001_003E   3221 non-null   int32
 5   B19001_004E   3221 non-null   int32
 6   B19001_005E   3221 non-null   int32
 7   B19001_006E   3221 non-null   int32
 8   B19001B_001E  3221 non-null   int32
 9   B19001B_002E  3221 non-null   int32
 10  B19001B_003E  3221 non-null   int32
 11  B19001B_004E  3221 non-null   int32
 12  B19001B_005E  3221 non-null   int32
 13  B19001B_006E  3221 non-null   int32
 14  B19001C_001E  3221 non-null   int32
 15  B19001C_002E  3221 non-null   int32
 16  B19001C_003E  3221 non-null   int32
 17  B19001C_004E  3221 non-null   int32
 18  B19001C_005E  3221 non-null   int32
 19  B19001C_006E  3221 non-null   int32
 20  B19001D_001E  3221 non-null   int32
 21  B19001D_002E  3221 non-null   int32
 22  B19001D_003E  3221 non-null   int32
 23  B19001D_004E  3221 non-null   int32
 24  B19001D_005E  3221 non-null   int32
 25  B19001D_006E  3221 non-null   int32
 26  B19001E_001E  3221 non-null   int32
 27  B19001E_002E  3221 non-null   int32
 28  B19001E_003E  3221 non-null   int32
 29  B19001E_004E  3221 non-null   int32
 30  B19001E_005E  3221 non-null   int32
 31  state         3221 non-null   object
 32  county        3221 non-null   object
 33  B19001E_006E  3221 non-null   int32
 34  B19001H_001E  3221 non-null   int32
 35  B19001H_002E  3221 non-null   int32
 36  B19001H_003E  3221 non-null   int32
 37  B19001H_004E  3221 non-null   int32
 38  B19001H_005E  3221 non-null   int32
 39  B19001H_006E  3221 non-null   int32
 40  B19001I_001E  3221 non-null   int32
 41  B19001I_002E  3221 non-null   int32
 42  B19001I_003E  3221 non-null   int32
 43  B19001I_004E  3221 non-null   int32
 44  B19001I_005E  3221 non-null   int32
 45  B19001I_006E  3221 non-null   int32
 46  B15003_001E   3221 non-null   int32
 47  B15003_025E   3221 non-null   int32
 48  B15003_024E   3221 non-null   int32
 49  B15003_023E   3221 non-null   int32
 50  B15003_022E   3221 non-null   int32
 51  B15003_021E   3221 non-null   int32
 52  B15003_020E   3221 non-null   int32
 53  B15003_019E   3221 non-null   int32
 54  B15003_018E   3221 non-null   int32
 55  B15003_017E   3221 non-null   int32
 56  B17001_001E   3221 non-null   int32
 57  B17001_002E   3221 non-null   int32
 58  B23025_002E   3221 non-null   int32
 59  B23025_005E   3221 non-null   int32
 60  B19058_002E   3221 non-null   int32
 61  B19058_001E   3221 non-null   int32
 62  B19056_002E   3221 non-null   int32
 63  B19056_001E   3221 non-null   int32
dtypes: int32(60), object(4)
memory usage: 880.7+ KB

                      NAME          GEO_ID  ...  B19056_002E  B19056_001E
0  Autauga County, Alabama  0500000US01001  ...         1325        21856
1  Baldwin County, Alabama  0500000US01003  ...         4007        87190
2  Barbour County, Alabama  0500000US01005  ...          963         9088
3     Bibb County, Alabama  0500000US01007  ...          480         7083
4   Blount County, Alabama  0500000US01009  ...         1862        21300

[5 rows x 64 columns]

In [14]:
data.to_csv("C:/Users/eli12899/Documents/ArcGIS/Projects/Economic Distress Index_County level_ACS 2021/DATA/all_econ_distress.csv")

## CREATE THE ECONOMIC DISTRESS INDEX

In [15]:
economic_distress_index_df = data.filter(['NAME', 'GEO_ID'])
economic_distress_index_df.head(5)

                      NAME          GEO_ID
0  Autauga County, Alabama  0500000US01001
1  Baldwin County, Alabama  0500000US01003
2  Barbour County, Alabama  0500000US01005
3     Bibb County, Alabama  0500000US01007
4   Blount County, Alabama  0500000US01009

### Index Variables Percentage Calculations

#### LOW INCOME

In [16]:
# create a new column 'pct_less_than_$30K'
economic_distress_index_df['pct_less_than_$30K'] = data[['B19001_002E', 'B19001_003E', 'B19001_004E', 'B19001_005E', 'B19001_006E']].sum(axis=1) / data['B19001_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME          GEO_ID  pct_less_than_$30K
0  Autauga County, Alabama  0500000US01001            0.260706
1  Baldwin County, Alabama  0500000US01003            0.206147
2  Barbour County, Alabama  0500000US01005            0.438050
3     Bibb County, Alabama  0500000US01007            0.305520
4   Blount County, Alabama  0500000US01009            0.275023

#### Percent with less than High School Degree

In [17]:
# create a new column 'pct_less_than_high_school'
economic_distress_index_df['pct_less_than_high_school'] = data[['B15003_025E', 'B15003_024E', 'B15003_023E', 'B15003_022E', 'B15003_021E', 'B15003_020E', 'B15003_019E', 'B15003_018E', 'B15003_017E']].sum(axis=1) / data['B15003_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... pct_less_than_high_school
0  Autauga County, Alabama  ...                  0.895845
1  Baldwin County, Alabama  ...                  0.910142
2  Barbour County, Alabama  ...                  0.756710
3     Bibb County, Alabama  ...                  0.805381
4   Blount County, Alabama  ...                  0.836481

[5 rows x 4 columns]

#### Percent below poverty

In [18]:
# create a new column 'pct_below_poverty'
economic_distress_index_df['pct_below_poverty'] = data[['B17001_002E']].sum(axis=1) / data['B17001_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... pct_below_poverty
0  Autauga County, Alabama  ...          0.135785
1  Baldwin County, Alabama  ...          0.092049
2  Barbour County, Alabama  ...          0.264719
3     Bibb County, Alabama  ...          0.169429
4   Blount County, Alabama  ...          0.132366

[5 rows x 5 columns]

#### Percent Unemployed

In [19]:
economic_distress_index_df['pct_unemployed'] = data[['B23025_005E']].sum(axis=1) / data['B23025_002E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME          GEO_ID  ...  pct_below_poverty  pct_unemployed
0  Autauga County, Alabama  0500000US01001  ...           0.135785        0.027296
1  Baldwin County, Alabama  0500000US01003  ...           0.092049        0.036685
2  Barbour County, Alabama  0500000US01005  ...           0.264719        0.086242
3     Bibb County, Alabama  0500000US01007  ...           0.169429        0.097068
4   Blount County, Alabama  0500000US01009  ...           0.132366        0.060130

[5 rows x 6 columns]

#### Percent with cash public assistance or Food Stamps/SNAP

In [20]:
# create a new column 'pct_with_SNAP'
economic_distress_index_df['pct_with_SNAP'] = data[['B19058_002E']].sum(axis=1) / data['B19058_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME          GEO_ID  ...  pct_unemployed  pct_with_SNAP
0  Autauga County, Alabama  0500000US01001  ...        0.027296       0.107980
1  Baldwin County, Alabama  0500000US01003  ...        0.036685       0.071281
2  Barbour County, Alabama  0500000US01005  ...        0.086242       0.259793
3     Bibb County, Alabama  0500000US01007  ...        0.097068       0.179585
4   Blount County, Alabama  0500000US01009  ...        0.060130       0.109061

[5 rows x 7 columns]

#### Percent with Supplemental Security Income (SSI)

In [21]:
# create a new column 'pct_with_SSI'
economic_distress_index_df['pct_with_SSI'] = data[['B19056_002E']].sum(axis=1) / data['B19056_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME          GEO_ID  ...  pct_with_SNAP  pct_with_SSI
0  Autauga County, Alabama  0500000US01001  ...       0.107980      0.060624
1  Baldwin County, Alabama  0500000US01003  ...       0.071281      0.045957
2  Barbour County, Alabama  0500000US01005  ...       0.259793      0.105964
3     Bibb County, Alabama  0500000US01007  ...       0.179585      0.067768
4   Blount County, Alabama  0500000US01009  ...       0.109061      0.087418

[5 rows x 8 columns]

### Additional Percentage Calculations

##### Percent Households with less than $30,000 income (Black or African American)

In [22]:
# create a new column 'Percent_less_than_30K_Afr_Amr
economic_distress_index_df['Percent_less_than_30K_Afr_Amr'] = data[['B19001B_002E', 'B19001B_003E', 'B19001B_004E', 'B19001B_005E', 'B19001B_006E']].sum(axis=1) / data['B19001B_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... Percent_less_than_30K_Afr_Amr
0  Autauga County, Alabama  ...                      0.433538
1  Baldwin County, Alabama  ...                      0.382241
2  Barbour County, Alabama  ...                      0.574405
3     Bibb County, Alabama  ...                      0.614130
4   Blount County, Alabama  ...                      0.411765

[5 rows x 9 columns]

##### Percent Households with $30,000 or less income (American Indian and Alaska Native)¶

In [23]:
# create a new column 'Percent_less_than_30K_Amr_Ind'
economic_distress_index_df['Percent_less_than_30K_Amr_Ind'] = data[['B19001C_002E', 'B19001C_003E', 'B19001C_004E', 'B19001C_005E', 'B19001C_006E']].sum(axis=1) / data['B19001C_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... Percent_less_than_30K_Amr_Ind
0  Autauga County, Alabama  ...                      0.000000
1  Baldwin County, Alabama  ...                      0.379391
2  Barbour County, Alabama  ...                      0.600000
3     Bibb County, Alabama  ...                      0.000000
4   Blount County, Alabama  ...                      0.360000

[5 rows x 10 columns]

##### Percent Households with $30,000 or less income (Asian)¶

In [24]:
# create a new column 'Percent_less_than_30K_Asian'
economic_distress_index_df['Percent_less_than_30K_Asian'] = data[['B19001D_002E', 'B19001D_003E', 'B19001D_004E', 'B19001D_005E', 'B19001D_006E']].sum(axis=1) / data['B19001D_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... Percent_less_than_30K_Asian
0  Autauga County, Alabama  ...                    0.094241
1  Baldwin County, Alabama  ...                    0.124606
2  Barbour County, Alabama  ...                    0.000000
3     Bibb County, Alabama  ...                    0.000000
4   Blount County, Alabama  ...                    0.000000

[5 rows x 11 columns]

##### Percent Households with $30,000 or less income (Native Hawaiian or Pacific Islander)

In [25]:
# create a new column 'Percent_less_than_30K_Nat_Haw'
economic_distress_index_df['Percent_less_than_30K_Nat_Haw'] = data[['B19001E_002E', 'B19001E_003E', 'B19001E_004E', 'B19001E_005E', 'B19001E_006E']].sum(axis=1) / data['B19001E_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... Percent_less_than_30K_Nat_Haw
0  Autauga County, Alabama  ...                           NaN
1  Baldwin County, Alabama  ...                           NaN
2  Barbour County, Alabama  ...                           NaN
3     Bibb County, Alabama  ...                           NaN
4   Blount County, Alabama  ...                           NaN

[5 rows x 12 columns]

##### Percent Households wih $30,000 or less income (Nonhispanic White)

In [26]:
# create a new column 'Percent_less_than_30K_White'
economic_distress_index_df['Percent_less_than_30K_White'] = data[['B19001H_002E', 'B19001H_003E', 'B19001H_004E', 'B19001H_005E', 'B19001H_006E']].sum(axis=1) / data['B19001H_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df.head())

                      NAME  ... Percent_less_than_30K_White
0  Autauga County, Alabama  ...                    0.218005
1  Baldwin County, Alabama  ...                    0.187821
2  Barbour County, Alabama  ...                    0.303758
3     Bibb County, Alabama  ...                    0.239213
4   Blount County, Alabama  ...                    0.275835

[5 rows x 13 columns]

##### Percent Households with $30,000 or less income (Hispanic or Latino)¶

In [27]:
# create a new column 'Percent_less_than_30K_Hispanic'
economic_distress_index_df['Percent_less_than_30K_Hispanic'] = data[['B19001I_002E', 'B19001I_003E', 'B19001I_004E', 'B19001I_005E', 'B19001I_006E']].sum(axis=1) / data['B19001I_001E']


# print the first few rows of the updated dataframe to check the new column
print(economic_distress_index_df)

                                  NAME  ... Percent_less_than_30K_Hispanic
0              Autauga County, Alabama  ...                       0.147107
1              Baldwin County, Alabama  ...                       0.251799
2              Barbour County, Alabama  ...                       0.483636
3                 Bibb County, Alabama  ...                       0.169173
4               Blount County, Alabama  ...                       0.278099
...                                ...  ...                            ...
3216  Vega Baja Municipio, Puerto Rico  ...                       0.615631
3217    Vieques Municipio, Puerto Rico  ...                       0.766530
3218   Villalba Municipio, Puerto Rico  ...                       0.657959
3219    Yabucoa Municipio, Puerto Rico  ...                       0.707779
3220      Yauco Municipio, Puerto Rico  ...                       0.708665

[3221 rows x 14 columns]

In [28]:
economic_distress_index_df.head(5)

                      NAME  ... Percent_less_than_30K_Hispanic
0  Autauga County, Alabama  ...                       0.147107
1  Baldwin County, Alabama  ...                       0.251799
2  Barbour County, Alabama  ...                       0.483636
3     Bibb County, Alabama  ...                       0.169173
4   Blount County, Alabama  ...                       0.278099

[5 rows x 14 columns]

#### Download CVS to Map and/or Do Additional Analysis in Excel

In [29]:
economic_distress_index_df.to_csv("C:/Users/eli12899/Documents/ArcGIS/Projects/Economic Distress Index_County level_ACS 2021/DATA/index_econ_distress.csv")

##### Calculate Weighted Avg

In [30]:
wtavg_list = pd.read_csv("C:/Users/eli12899/Documents/ArcGIS/Projects/Economic Distress Index_County level_ACS 2021/DATA/index_econ_distress.csv")
wtavg_list.head()

   Unnamed: 0  ... Percent_less_than_30K_Hispanic
0           0  ...                       0.147107
1           1  ...                       0.251799
2           2  ...                       0.483636
3           3  ...                       0.169173
4           4  ...                       0.278099

[5 rows x 15 columns]

In [31]:
low_income= wtavg_list['pct_less_than_$30K']*1
education = wtavg_list['pct_less_than_high_school']*1
poverty = wtavg_list['pct_below_poverty']*1
unemployed = wtavg_list['pct_unemployed']*1
snap= wtavg_list['pct_with_SNAP']*1
ssi = wtavg_list['pct_with_SSI']*1


wt_df = pd.DataFrame({'a':[low_income, education, poverty, unemployed,snap, ssi],'b':[1,1,1,1,1,1]})

In [32]:
# using formula
wm_formula = (wt_df['a']).sum()/wt_df['b'].sum()
wm_formula.head(10)

wtavg_list['Priority_Score'] =wm_formula
wtavg_list.head(10)

   Unnamed: 0  ... Priority_Score
0           0  ...       0.248039
1           1  ...       0.227044
2           2  ...       0.318580
3           3  ...       0.270792
4           4  ...       0.250080
5           5  ...       0.341256
6           6  ...       0.289918
7           7  ...       0.278045
8           8  ...       0.262631
9           9  ...       0.258462

[10 rows x 16 columns]

In [33]:
weightedmean_scores_csv = "economic_distress_index_countyscore_ACS_2021.csv"

In [34]:
wtavg_list.to_csv("C:/Users/eli12899/Documents/ArcGIS/Projects/Economic Distress Index_County level_ACS 2021/DATA/economic_distress_index_countyscore_ACS_2021.csv")

In [35]:
index = pd.read_csv ("C:/Users/eli12899/Documents/ArcGIS/Projects/Economic Distress Index_County level_ACS 2021/DATA/economic_distress_index_countyscore_ACS_2021.csv")
index.head()

   Unnamed: 0.1  Unnamed: 0  ... Percent_less_than_30K_Hispanic Priority_Score
0             0           0  ...                       0.147107       0.248039
1             1           1  ...                       0.251799       0.227044
2             2           2  ...                       0.483636       0.318580
3             3           3  ...                       0.169173       0.270792
4             4           4  ...                       0.278099       0.250080

[5 rows x 17 columns]

### Create a County Feature Layer

In [36]:
econ_distress_lyr = FeatureLayer(index)

econ_distress_lyr

<FeatureLayer url:"      Unnamed: 0.1  Unnamed: 0  ... Percent_less_than_30K_Hispanic Priority_Score
0                0           0  ...                       0.147107       0.248039
1                1           1  ...                       0.251799       0.227044
2                2           2  ...                       0.483636       0.318580
3                3           3  ...                       0.169173       0.270792
4                4           4  ...                       0.278099       0.250080
...            ...         ...  ...                            ...            ...
3216          3216        3216  ...                       0.615631       0.401018
3217          3217        3217  ...                       0.766530       0.430956
3218          3218        3218  ...                       0.657959       0.445388
3219          3219        3219  ...                       0.707779       0.454700
3220          3220        3220  ...                       0.708665       0.437707

[3221 rows x 17 columns]">

In [37]:
gis = GIS(os.getenv('ESRI_GIS_URL'), username=os.getenv('ESRI_GIS_USERNAME'), password=os.getenv('ESRI_GIS_PASSWORD'))

gis

GIS @ https://www.arcgis.com version:2023.1

In [38]:
pth_cp = Path(r'C:\ArcGIS\Business Analyst\US_2022\Data\Demographic Data\USA_ACS_2022.gdb\Counties_cy')
pth_cp

WindowsPath('C:/ArcGIS/Business Analyst/US_2022/Data/Demographic Data/USA_ACS_2022.gdb/Counties_cy')

In [39]:
fips_lst = pd.Series([r[0] for r in arcpy.da.SearchCursor(str(pth_cp), 'ID')])
fips_lst.head()

0    02013
1    02016
2    02020
3    02050
4    02060
dtype: object

In [40]:
cp_id_cnts = fips_lst.apply(lambda val: val[:-4]).value_counts()
cp_id_cnts

2    710
4    675
1    572
3    533
5    336
0    317
dtype: int64

In [41]:
cp_cnt = len(cp_id_cnts.index)
cp_cnt

6

In [42]:
df_cp = GeoAccessor.from_featureclass(str(pth_cp))
df_cp.head()

   ObjectID     ID  ... RG_NAME                                              SHAPE
0        68  02013  ...  Alaska  {"rings": [[[-18493136.7569, 7168400.104999997...
1        69  02016  ...  Alaska  {"rings": [[[-19938359.9685, 6674706.3913], [-...
2        70  02020  ...  Alaska  {"rings": [[[-16721429.0634, 8656235.899499997...
3        71  02050  ...  Alaska  {"rings": [[[-17996071.2968, 8085294.194399998...
4        72  02060  ...  Alaska  {"rings": [[[-17506091.3461, 8097992.444300003...

[5 rows x 3217 columns]

In [43]:
df_cp = df_cp[['ID', 'SHAPE']].copy()

In [44]:
df_cp.columns = ['county_ID', 'SHAPE']

pt_df = df_cp.copy()
pt_df.head()

  county_ID                                              SHAPE
0     02013  {"rings": [[[-18493136.7569, 7168400.104999997...
1     02016  {"rings": [[[-19938359.9685, 6674706.3913], [-...
2     02020  {"rings": [[[-16721429.0634, 8656235.899499997...
3     02050  {"rings": [[[-17996071.2968, 8085294.194399998...
4     02060  {"rings": [[[-17506091.3461, 8097992.444300003...

In [ ]:
Remaining to do:

    1. take care of denominators returning NULL
    2. join county layer with the data 
    3. create a feature class with basemap
    4. map index mean scores in the map